<div class="homegrid">
  <% @bookings.each do |booking| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <% unless booking.airplane.photos.first.nil? %>
            <%= cl_image_tag booking.airplane.photos.first.key, class: "card-img-top" %>
          <% end %>
          <h5 class="card-title"> <%= booking.airplane.brand_and_model %></h5>
          <p class="card-list"> <%= booking.airplane.registration %></p>
          <p> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
          <%= link_to "Display", airplane_path(booking.airplane) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
